.container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: 133c55;
}
.participant {
    margin-bottom: 5px;
    margin-right: 5px;
}
.participant div {
    text-align: center;
}
.participant div:first-child {
    width: 50%;
    height: auto;
    background-color: #ccc;
    border: 1px solid black;
}
.participant div {
    width: 50%;
    height: auto;
    background-color: #ccc;
    border: 1px solid black;
}

.participant .label {
    background-color: #ddd;
}

.participantZoomed {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.participantHidden {
    display: none;
}

#join_leave{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#33FF86;
    text-align:center;
    transition: all 0.2s;
}

/* #join_leave:hover{
    background-color:#1BC42D;
} */

@media all and (max-width:30em){
#join_leave{
    display:block;
    margin:0.2em auto;
    }
}